FEBBOX_UI_COOKIE='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3NzI5OTYxNjMsIm5iZiI6MTc3Mjk5NjE2MywiZXhwIjoxODA0MTAwMTgzLCJkYXRhIjp7InVpZCI6MTQ5NTAyMywidG9rZW4iOiIyYjU0YTMyNmQ1MTk5MmE0M2YxZDYxYzNiMGNmYjg0NSJ9fQ.qWEtr5jqio5P08hxbZ76P23Tx3ZU_xryXUON5GrESlA'
API_PORT=3000
CHILD_MODEL='0'